body {
  --font-display: 'Cookie';
  --font-body: 'Abel';

  --color-background--light: #F6F6F6;
  --color-background--dark: #073B4C;
  --color-accent: #028090;
  --color-accent--hover: #06313F;
  --color-name: #7A75A0;
  --color-name--hover: #4A4660;

  --spacing-small: 16px;
  --spacing-medium: 32px;

  padding: var(--spacing-small) var(--spacing-medium);
  margin: 0;

  font-family: var(--font-body), sans-serif;
  background-color: var(--color-background--light);
}

h1, h2 {
  font-family: var(--font-display), sans-serif;
  color: var(--color-accent);
}

a {
  color: var(--color-accent);
}

a:hover,
a:focus {
  color: var(--color-accent--hover);
}



/*

Navigation Section

*/


.navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navigation__name {
  flex: 1 0 auto;
  padding: 0 var(--spacing-small) 0 0;
  color: var(--color-name);
  font-family: var(--font-display), sans-serif;
  font-size: 40px;
  text-decoration: solid;
}

.navigation__name:hover {
  color: var(--color-name--hover);
}

.navigation__list {
  flex: 0 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation__list__item {
  padding: 0 var(--spacing-small);
  text-decoration: solid;
}

.navigation__list__item:first-of-type {
  padding-left: 0;
}

.navigation__list__item:last-of-type {
  padding-right: 0;
}


/*

Content Section

*/


.content__section {
  padding: var(--spacing-medium) 0;
}

.content__section__image {
  max-width: 100%;
  max-height: 350px;
  height: auto;
}

.content__section {
  padding: var(--spacing-small) 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content__section__media {
  flex: 0 1 500px;
  max-width: 500px;
  margin: 0 var(--spacing-medium) var(--spacing-small);
}

.content__section__media--small {
  flex: 0 1 350px;
  max-width: 350px;
}

.content__section__text {
  flex: 1 1 auto;
  max-width: 600px;
}

.content__section__text--centered {
  text-align: center;
}

.content__section__text--adjust-title h4:first-of-type {
  margin-top: 0;
}


/*

Overrides for External Styles

*/


.contact-icon {
  margin-right: var(--spacing-small);
}


/*********************************************************/
/* From http://avexdesigns.com/responsive-youtube-embed/ */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*********************************************************/