<h2>coursework</h2>
<br>

<h5>COMP 382: Reasoning About Algorithms </h5>
<p>
    Writing algorithms is fun, but how are you sure that the algorithm you wrote is flawless? Are there computing tasks for which it is impossible to produce an efficient algorithm, or, for that matter, any algorithm? To answer these questions, you have to learn to perform mathematical reasoning about algorithmic problems and solutions COMP 382 is an introduction to such reasoning techniques. Topics covered would include elementary logic, analysis of the correctness and efficiency of algorithms, and formal computational models like finite automata and Turning machines. On the way, you are also going to learn some new algorithm design techniques.
</p>
<br>

<h5>COMP 322: Principles of Parallel Programming </h5>
<p>
    Fundamentals of parallel programming: abstract models of parallel computers, parallel algorithms and data structures, and common parallel programming patterns including task parallelism, undirected and directed synchronization, data parallelism, divide-and-conquer parallelism, and map-reduce. Laboratory assignments will explore these topics through the use of parallel extensions to the Java language.
</p>
<br>

<h5>COMP 221: Introduction to Computer Systems </h5>
<p>
    This course introduces computer systems from the programmer's perspective. Topics include data representation, the compilation process, and system-level programming concepts such as interrupts and concurrency.
</p>
<p><strong>Notable Projects: </strong> malloc implementation, basic web proxy</p>
<br>

<h5>ELEC 220: Fundamentals of Computer Engineering </h5>
<p>
    An overview of computer engineering, starting with fundamental building blocks including transistors, bits, data representation, logic and state machines, progressing to computer organization, instruction sets, interrupts, input/output, assembly language programming, and linkage conventions, and ending with an introduction to architectural performance enhancements and computing services.
</p>
<br>

<h5>COMP 215: Introduction to Program Design </h5>
<p>
    This course covers the principles of programming and program design. The course is organized around a number of individual programming assignments that fit together to complete a significant, real-world application. Each assignment emphasizes one or more of the basic principles of software design, including: encapsulation, abstraction, test-driven development, and functional and object-oriented programming. The Java programming language will be used. An introduction to the basics of the Java language itself (including Java syntax and semantics) will be provided.
</p>
<br>

<h5>COMP 182: Algorithmic Thinking </h5>
<p>
    Algorithms are the engines of a great majority of systems, natural and artificial alike. This course introduces algorithmic thinking as a discipline for reasoning about systems, taming their complexities, and elucidating their properties. Algorithmic techniques, along with their correctness and efficiency, will be taught through reasoning about systems of interactions, such as markets, that are ubiquitous in our highly connected world.
</p>
<br>


<h5>COMP 140: Computational Thinking</h5>
<p>
    An integrated introduction to computation taught by solving real-world problems in audio, video and text processing, physical robotics, control and simulation of complex systems in nature, and swarm intelligence. Technical topics include how to model computational artifacts operating in the world; how to design and implement algorithmic solutions in Python; and how to experimentally test and evaluate performance of computational systems.
</p>
<br>

