<h2>projects</h2>

<div id="stab-registry" class="row-spacer"></div>
<div class="row">
    <div class="col-md-6">
        <img class="img-project" src="/public/resources/images/stab_registry.png" />
    </div>
    <div class="col-md-6 text-left">
        <h4>STAB Registry</h4>
        <h5>Summer 2014</h5>
        <p><strong>Developed as an internal application for Homeaway.com developers.</strong></p>
        <p>
            Single-page web application for internal use which provides a registry of front-end widgets and spaces for demonstration and translation of those projects.
        </p>
            Integrates GitHub API and internal translation client. Written in Javascript. Uses Backbone.js for structure, Handlebars for templating, Bootstrap for styling, and Jasmine/Istanbul for unit/coverage testing.
        </p>
    </div>
</div>

<div id="dr-fractionstein" class="row-spacer"></div>
<div class="row">
    <div class="col-md-6">
        <div class="video-container">
            <iframe width="420" height="315" src="//www.youtube.com/embed/Z2ynvHMAP4I" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-6 text-left">
        <h4>Dr. Fractionstein's Laboratory</h4>
        <h5>Collaborators: Katherine Ford</h5>
        <h5>October 2013</h5>
        <p><strong>Awarded 2nd Place in the 2013 CrossRealms Raspberry Pi Bake-Off.</strong></p>
        <p>
          Dr. Fractionstein's Laboratory is a fraction game for fourth and fifth graders.Using Dr. Fractionstein's Laboratory, students should demonstrate the following skills:
          <ul>
            <li>Add fractions of like denominators</li>
            <li>Add fractions of unlike denominators</li>
            <li>Find the least common denominator of a pair of fractions</li>
            <li>Convert between different scales of fractions</li>
          </ul>
        </p>
        <p>
          Dr. Fractionstein’s Laboratory encourages students to improve their fraction and critical thinking skills in a novel way, with colorful graphics and silly potion names to retain attention and stimulate students’ imagination.
        </p>
    </div>
</div>

<div id="google-maps-gui-harness" class="row-spacer"></div>
<div class="row">
    <div class="col-md-6">
        <img class="img-project" src="/public/resources/images/google_maps_gui.png" />
    </div>
    <div class="col-md-6 text-left">
        <h4>Google Maps GUI Harness</h4>
        <h5>Fall 2013</h5>
        <p><strong>Developed for <a target="_blank" href="http://www.codeskulptor.org/">CodeSkulptor</a>, used in Fall 2013 Rice University COMP 140 course.</strong></p>
        <p>
            Allows students to visually display their implementations of various search algorithms, in order to better understand how each algorithm functions in a real-world use case.
        </p>
        <p>
            Integrates Google Maps API. Written in Javascript and Python. 
            Using <a target="_blank" href="http://www.codeskulptor.org/">CodeSkulptor</a> and <a target="_blank" href="http://www.skulpt.org/">Skulpt</a>, runs completely in browser.
        </p>
    </div>
</div>

<div id="portfolio" class="row-spacer"></div>
<div class="row">
    <div class="col-md-6">
        <img class="img-project" src="/public/resources/images/portfolio.png" />
    </div>
    <div class="col-md-6 text-left">
        <h4>Portfolio</h4>
        <h5>Summer 2014</h5>
        <p><strong>Simple single-page application hosted on GitHub Pages.</strong></p>
        <p>
            Basic single-page web application designed to display projects completed and skills acquired.
            Hosted on GitHub Pages, requiring a creative solution for full SPA-functionality.
            Learn more about the implementation and design choices of this portfolio on the <a target="_blank" href="https://github.com/mchat/mchat.github.io#readme">readme</a>.
        </p>
        <p>
            Implemented with Twitter Bootstrap and Backbone.js.
        </p>
    </div>
</div>

<div class="row-spacer"></div>
<h3>notable coursework</h3>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-left">
        <h5>COMP 412: Compiler Construction</h5>
        <h5>Fall 2014  --  Currently Enrolled</h5>
        <ul>
            <li>Implementing a scanner, parser, and bottom-up local register allocator for low-level programming language.</li>
            <li>Will implement an LL(1) parser generator and an instruction scheduler throughout the course of the semester.</li>
        </ul>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-left">
        <h5>COMP 310: Advanced Object-Oriented Programming and Design</h5>
        <h5>Fall 2014  --  Currently Enrolled</h5>
        <ul>
            <li>Designing and implementing scalable projects according to design pattern principles and object-oriented design best practices.</li>
            <li>Representing architecture with UML class diagrams.</li>
        </ul>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-left">
        <h5>COMP 221: An Introduction to Computer Systems</h5>
        <h5>Spring 2014</h5>
        <ul>
            <li>Implemented a dynamic memory allocator for C programs.</li>
            <li>Wrote a simple Unix shell program that supported job control.</li>
            <li>Developed a basic, concurrent web proxy.</li>
        </ul>
    </div>
    <div class="col-md-3"></div>
</div>