<h2>projects</h2>

<div class="row-spacer"></div>
<div class="row">
    <div class="col-md-6">
        <img class="img-project" src="/public/resources/images/stab_registry.png" />
    </div>
    <div class="col-md-6 text-left">
        <h4>STAB Registry</h4>
        <h5>Summer 2014</h5>
        <p><strong>Developed as an internal application for Homeaway.com developers.</strong></p>
        <p>
            Single-page web application for internal use which provides a registry of front-end widgets and spaces for demonstration and translation of those projects.
        </p>
            Integrates GitHub API and internal translation client. Written in Javascript. Uses Backbone.js for structure, Handlebars for templating, Bootstrap for styling, and Jasmine/Istanbul for unit/coverage testing.
        </p>
    </div>
</div>

<div class="row-spacer"></div>
<div class="row">
    <div class="col-md-6">
        <div class="video-container">
            <iframe width="420" height="315" src="//www.youtube.com/embed/Z2ynvHMAP4I" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-6 text-left">
        <h4>Dr. Fractionstein's Laboratory</h4>
        <h5>Collaborators: Katherine Ford</h5>
        <h5>October 2013</h5>
        <p><strong>Awarded 2nd Place in the 2013 CrossRealms Raspberry Pi Bake-Off.</strong></p>
        <p>
          Dr. Fractionstein's Laboratory is a fraction game for fourth and fifth graders.Using Dr. Fractionstein's Laboratory, students should demonstrate the following skills:
          <ul>
            <li>Add fractions of like denominators</li>
            <li>Add fractions of unlike denominators</li>
            <li>Find the least common denominator of a pair of fractions</li>
            <li>Convert between different scales of fractions</li>
          </ul>
        </p>
        <p>
          Dr. Fractionstein’s Laboratory encourages students to improve their fraction and critical thinking skills in a novel way, with colorful graphics and silly potion names to retain attention and stimulate students’ imagination.
        </p>
    </div>
</div>

<div class="row-spacer"></div>
<div class="row">
    <div class="col-md-6">
        <img class="img-project" src="/public/resources/images/google_maps_gui.png" />
    </div>
    <div class="col-md-6 text-left">
        <h4>Google Maps GUI Harness</h4>
        <h5>Fall 2013</h5>
        <p><strong>Developed for <a href="http://www.codeskulptor.org/">CodeSkulptor</a>, used in Fall 2013 Rice University COMP 140 course.</strong></p>
        <p>
            Allows students to visually display their implementations of various search algorithms, in order to better understand how each algorithm functions in a real-world use case.
        </p>
        <p>
            Integrates Google Maps API. Written in Javascript and Python. 
            Using <a href="http://www.codeskulptor.org/">CodeSkulptor</a> and <a href="http://www.skulpt.org/">Skulpt</a>, runs completely in browser.
        </p>
    </div>
</div>

<div class="row-spacer"></div>
<h3>notable coursework</h3>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-left">
        <h5>COMP 221: An Introduction to Computer Systems</h5>
        <h5>Spring 2014</h5>
        <ul>
            <li>Implemented a dynamic memory allocator for C programs.</li>
            <li>Wrote a simple Unix shell program that supported job control.</li>
            <li>Developed a basic, concurrent web proxy.</li>
        </ul>
    </div>
    <div class="col-md-3"></div>
</div>
