---
layout: default
---

{% capture words %}
   {{ page.content | number_of_words }}
{% endcapture %}

{% capture minutes %}
  {{ words | divided_by: 200 }}
{% endcapture %}

<div>
  <div class="readable">
    <h1>{{ page.title }}</h1>

    <h3>{{ page.description }}</h3>
    <h5>
      {{ page.date | date: '%B %d, %Y'  }}

      &#8226; {{ words }} words
      &#8226; {{ minutes }} minute read

      {% if page.medium %}
        &#8226; Read on <a href="{{ page.medium }}">Medium</a>
      {% endif %}

    </h5>
  </div>

  <aside class="post__toc">
    <strong>Table of Contents</strong>
    {{ content | toc_only }}
  </aside>

  <div class="readable main">
    {{ content}}
  </div>
</div>

